out/*
settings/*

cc_c/settings/*
cc_o/settings/*
cc_i/settings/*

cc_c/application/EWARM/settings/*
cc_c/application/EWARM/Debug/*
cc_c/application/EWARM/Release/*
cc_c/application/EWARM/cc_c_app.dep
cc_c/application/EWARM/cc_c_app.ewd
cc_c/application/EWARM/cc_c_app.ewt
cc_c/application/EWARM/EW*.tmp

cc_c/bootloader/EWARM/settings/*
cc_c/bootloader/EWARM/Debug/*
cc_c/bootloader/EWARM/Release/*
cc_c/bootloader/EWARM/cc_c_bl.dep
cc_c/bootloader/EWARM/cc_c_bl.ewd
cc_c/bootloader/EWARM/cc_c_bl.ewt
cc_c/bootloader/EWARM/EW*.tmp

cc_i/application/EWARM/settings/*
cc_i/application/EWARM/Debug/*
cc_i/application/EWARM/Release/*
cc_i/application/EWARM/cc_i_app.dep
cc_i/application/EWARM/cc_i_app.ewd
cc_i/application/EWARM/cc_i_app.ewt
cc_i/application/EWARM/EW*.tmp

cc_i/bootloader/EWARM/settings/*
cc_i/bootloader/EWARM/Debug/*
cc_i/bootloader/EWARM/Release/*
cc_i/bootloader/EWARM/cc_i_bl.dep
cc_i/bootloader/EWARM/cc_i_bl.ewd
cc_i/bootloader/EWARM/cc_i_bl.ewt
cc_i/bootloader/EWARM/EW*.tmp

cc_o/application/EWARM/settings/*
cc_o/application/EWARM/Debug/*
cc_o/application/EWARM/Release/*
cc_o/application/EWARM/cc_o_app.dep
cc_o/application/EWARM/cc_o_app.ewd
cc_o/application/EWARM/cc_o_app.ewt
cc_o/application/EWARM/EW*.tmp

cc_o/bootloader/EWARM/settings/*
cc_o/bootloader/EWARM/Debug/*
cc_o/bootloader/EWARM/Release/*
cc_o/bootloader/EWARM/cc_o_bl.dep
cc_o/bootloader/EWARM/cc_o_bl.ewd
cc_o/bootloader/EWARM/cc_o_bl.ewt
cc_o/bootloader/EWARM/EW*.tmp